:root{
    --main: rgb(255, 115, 0);
    --autofont:rgb(255, 255, 255);
    --autobackground:#1E1E1E;
    --autobackground-2:#222222;
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
}

