.about-content{
    display: flex;
    background-color: var(--autobackground);
    height: 749px;
    width: 100%;
    position: fixed;
    top: 80px;
}
.about-element{
    height: 100px;
    width: 50px;
    background-color: red;

}