@media  screen and (max-width:1024px)  {
    p{
        font-size: 18px;
    }
    .main-img{
        width: 705px;
        height: 272px  
    }
}

@media screen and (max-width:924px) {
    .navbar{
        font-size:16px;
    }
    
}
@media screen and (max-width:1440px) {
    #profile-dropdown{
        right: -28px;
        top: 280px;
        background: transparent;
        display: flex;
        flex-direction: column;
        z-index: 1;;
    }
    .part-1{
        background-color: var(--autobackground);
    }
    .part-2{
        background-color: var(--autobackground);
    }
    
}

@media screen and (max-width:768px) {
    .navbar{
        font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 282px;
    }
    .middle{
        position: absolute;
    }
    .blocky{
        height: 12px;
    }
    .content{
        position: relative;
        top: 135px;
    }
    .content-head{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
    }
    .main-img{
        position: relative;
        position: relative;
    bottom: 309px;
    }
    .items{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    .Search-box{
        width: 197px;
        height: 35px;
        font-size: 10px;
        border-radius: 10px;
    }
    .Search-btn{
        height: 35px;
        font-size: 10px;
        position: relative;
        right: 50px;
        border-radius: 10px;
    }
    
}
@media  screen and (max-width:411px) {
    .navbar{
        height: 100px;
        font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 135px;
    }
    
}