@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E1E1E;
}
.mainbox{
    background-color: rgb(255, 115, 0);
    height: 600px;
    width: 1200px;
    display: flex;
    border-radius: 15px;
}
.up-box{
    background-color:transparent;
    height: 170px;
    width: 650px;
}
.box{
    display: flex;
    width: 1400px;
}
.imgs{
    height: 330px;
    width: 370px;
}

.signup-form{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}
.signup-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.last{
    display: flex;
    align-items: center;
}
input{
width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Roboto Mono;
    box-sizing: border-box;
    -webkit-appearance: unset!important;
    outline: none;
}
.form-title{
    font-size: 28px;
    font-weight: 1000;
    font-family: Roboto Mono;
    padding: 10px;
}
.form-group{
    margin-top: 20px;
    width: 350px;
}