@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1E1E1E;
    color: white;
    font-family: Roboto Mono;
    font-size: 18px;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.items{
    display: flex;
    align-items: center;
}
.items  li{
    text-decoration: none;
    list-style: none;
    padding: 0px 25px 0px 25px;
    cursor: pointer;
}
.Search-box{
    display: flex;
    background-color: white;
    width: 300px;
    height: 45px;
    align-items: center;
    border-radius: 15px;
}
.Search-btn{
    background-color:var(--main);
    border:solid white;
    color: white;
    height: 45px;
    cursor: pointer;
    border-radius: 13px;
    padding: 4px;
    font-family: Roboto Mono;
    font-size: 14px;
}

.dark-icon{
    height: 45px;
    cursor: pointer;
}


.dark-mode{
    background-color:white;
    color: var(--autofont);
}
#Search-bar{
    background-color: transparent;
    border: transparent;
    padding-left: 10px;
    width: 244px;
    outline: transparent;
    height: 30px;
    font-family:var(--main-font);
    font-size: 15px;
}
.blank{
    height: 100px;
}
.content-head{
    display: flex;
}
.info{
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blank-1{
    width: 15px;
}
.trynow-btn{
    height: 40px;
    width: 80px;
    background-color: var(--main);
    border: none;
    border-radius: 15px;
    color: white;
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}
.register-btn{
    height: 40px;
    width: 80px;
    background-color: var(--main);
    border: none;
    border-radius: 15px;
    color: white;
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}
.blank-2{
    height: 100px;
}
.content-middle{
    background-color: lime;
    height: 500px;
}
::-webkit-scrollbar{
    background-color:var();
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 30px;
}
p{
    font-size: 24px;
}