.dark{
    --main: rgb(255, 115, 0);
    --autofont:rgb(255, 255, 255);
    --autofont-1:rgb(49, 49, 49);
    --autofontblack:rgb(0, 0, 0);
    --autobackground:#1E1E1E;
    --autobackgroundblack:#e4e4e4;
    --autobackground-2:#222222;
    --black-color:#11101d;
    --white-color:#fff;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
    --footermain:#1f1f1f;
}
.light{
    --main: rgb(255, 115, 0);
    --autofont:rgb(0, 0, 0);
    --autobackground:#ffffff;
    --autobackground-2:#cfcfcf;
    --black-color:#ffffff;
    --white-color:#000000;
    --sky-color:#E4E9F7;
    --light-black:#1d1b31;
    --autofontblack:rgb(152, 152, 152);
    --autobackgroundblack:#c6c6c6;
    --autofont-1:rgb(8, 8, 8);
}


