@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nunito:wght@500&family=Roboto+Mono:wght@100;300;500&display=swap');*{
    margin: 0px;
    padding: 0px;
}
a{
    color: var(--autofont);
    text-decoration: none;
}

body{
    background-color:var(--autobackground);
    color:var(--autofont);
    font-family: Roboto Mono;
    font-size: 18px;
    overflow: overlay;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Nav-bar CSS Starts from here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.footer-1{
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    top: 0;
}
.triangle{
    width: 15px;
}
.manage-account-icon-dark{
    height: 48px;
    width: 48px;
    padding: 10px;
}
.manage-account-icon-white{
    height: 48px;
    width: 48px;
    padding: 10px;
}
.info-btn{
    background-color: var(--main);
    outline: transparent;
    border: transparent;
    height: 50px;
    width: 100px;
    border-radius: 30px;
    margin: 10px;
    font-family: Roboto Mono;
    color: var(--autofont);
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Footer  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.Footer{
    background-color: var(--footermain);
    width: 100%;
    height: 500px;
    position:relative;
    bottom: 0px;
    color: var(--autofont);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(210, 210, 210);

}
.social-media-img{
    height: 48px;
    width: 48px;
}
.medi-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Footer-logo{
    width: 100%;
    background-color: var(--footersubmain);
    height: 100px;
    display: flex;
    flex-direction: column;
}
.social-media{
    display: flex;
    flex-direction: column;

}

.footer-content{
    display: flex;
}
.footer-content-item{
    display: flex;
    flex-direction: column;
    margin: 36px;
}




/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  END  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.setting{
    text-decoration: underline;
    color: rgb(101, 0, 141);
    cursor: pointer;
}

.items{
    display: flex;
    align-items: center;
}
.items  li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.Search-box{
    display: flex;
    background-color:var(--autofont);
    width: 300px;
    height: 45px;
    align-items: center;
    border-radius: 15px;
}
.Search-btn{
    background-color:var(--main);
    border:solid white;
    color:var(--autofont);
    height: 45px;
    cursor: pointer;
    border-radius: 13px;
    padding: 4px;
    font-family: Roboto Mono;
    font-size: 14px;
}

#dark-icon{
    height: 45px;
    cursor: pointer;
}

#Search-bar{
    background-color: transparent;
    border: transparent;
    padding-left: 10px;
    width: 244px;
    outline: transparent;
    height: 30px;
    font-family:var(--main-font);
    font-size: 15px;
}
.blank{
    height: 180px;

}
.content-head{
    display: flex;
}
.info{
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blank-1{
    width: 15px;
}
.trynow-btn{
    height: 40px;
    width: 80px;
    background-color: var(--main);
    border: none;
    border-radius: 15px;
    color:var(--autofont);
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}
.info-btn:hover{
    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--main);
    height: 50px;
    width: 100px;
    border-radius: 30px;
    margin: 10px;
    font-family: Roboto Mono;
    color: var(--autofont);
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    transform: scale(.5) translateX(100,-100);
    transition: .5s;
}
.register-btn{
    height: 40px;
    width: 80px;
    background-color: var(--main);
    border: none;
    border-radius: 15px;
    color:var(--autofont);
    font-family:var(--main-font);
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}
.blank-2{
    height: 100px;
}
.open-setings{
    background-color: var(--autobackground);
    height: 830px;
}
.close-setings{
    height: 500px;
    display: none;
}

.dark-icon{
    height: 48px;
    width: 48px;
    top: 95px;
    position: fixed;
    cursor: pointer;
}

.setting a{
    color: rgb(83, 0, 128);
}
.blocky{
    width: 60px;
}

::-webkit-scrollbar{
    width: 8px;
    scroll-margin-bottom: 100px;
    overflow: scroll;
    overflow: overlay;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color:gray;
    border-radius: 30px;
}
.content-bar{
    height: 830px;
    width: 100%;
    display: flex;
}
.end-footer{
    background-color: #79caff;
    height: 25px;
    width: 100%;
    position:fixed;
    bottom: 0px;
}
.end-footer-text{
    text-align: center;
    font-size: 16px;
    color: #000;
}
::selection{
  color:var(--white-color);
  background: var(--black-color);
} 
.side-start{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    margin-left: 40px;
}
.setings-text{
    margin-right: 130px;
}

.account-text{
    font-weight: 500;
    padding-left: 52px;
}
.div{
    position: absolute;
    top: 126px;
    width: 100%;
    height: 100%;
}
.setings-manage-account{
    width: 100%;
    display: flex;
    position: relative;
    top: 80px;
}
.previous{
    padding: 15px;
    cursor: pointer;
    height: 48px;
    position: fixed;
    display: none;
    top: 80px;
    left: -4px;
}

.side-bar-item{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    align-items: center;
    justify-content: space-evenly;
}
.sep-1{
    height: 3px;
    background: gray;
    margin-bottom: 14px;
    width: 186px;
}
.sep-line{
    width: 3px;
    background-color: gray;
    height: 500px;
}
.side-bar-items-text{
    border-left: 3px solid gray;
    padding-left: 10px;
    cursor: pointer;
}
.side-bar-icon-dark{
    height: 38px;
    width: 38px;
    display: none;
}
.side-bar-icon-light{
    height: 38px;
    width: 38px;
}

.sidebar{
    background: var(--autobackground-2);
    padding: 6px 14px;
    transition: all 0.5s ease;
    scroll-behavior: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
}  
.open-sidebar{
    display: block;
}
.side-bar-end{
    display: flex;
    align-items: center;
    justify-content: end;
}

p{
    font-size: 24px;
}
.m{
    display: none;
}
.logo{
    cursor: pointer;
}

.drop-menu.active{
    display: block;

}
.drop-menu.inactive{
    display: none;
}

#profile-dropdown{
    height: 235px;
    width: 262px;
    position: relative;
    top: 70px;
    float: right;
    right: 52px;
    position:fixed;
    border-radius: 13px;
    background-color: var(--autobackground);
    color:var(--autofont);
    box-shadow: 0px 0px 15px 9px #7e7e7e;
    z-index: 99;
}
.part-1{
    display:flex;
    width: 260px;
    height: 70px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
.part-2{
    display: flex;
    flex-direction: column;
    width: 260px;
}
.avatar-wrap{
    height: 70px;
    display: flex;
}
.profile-item{
    display: flex;
    width: 230px;
    height: 52.5px;
    border-radius: 8px;
    border: 1px solid transparent;
    align-items: center;
    justify-content: space-around;
}
.toggle-btn {
    position: relative;
    width: 79px;
    height: 35px;
    margin: 0 auto;
    border-radius: 40px;
  }
.part-4{
    background-color: var(--autobackgroundblack);
    /* background-blend-mode: color-dodge; */
    opacity: 66%;
    border-radius: 10px;
}
 
  h3{
    padding-left: 5px;
  }
.part-1{
    display: flex;
}
.avatar{
    display: flex;
    border-radius: 56px;
    height: 48px;
    width: 48px;
    padding: 11px;
}
.name{
    display: flex;
    flex-direction: column;
    height: 50px;
    padding-top: 15px;
}
.name-info{
    color: grey;
    font-size: 13px;
}
.sep{
    width: 260px;
    height: 3px;
    background-color: rgb(92, 92, 92);
}

.manage-account{
    height: 50px;
    width: 260px;
    background-color: var(--autobackground);
    display: flex;
    align-items: center;
}
.reg-btn{
    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--main);
    height: 50px;
    width: 100px;
    border-radius: 30px;
    margin: 10px;
    font-family: Roboto Mono;
    color: var(--autofont);
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    transform: scale(.5) translateX(100,-100);
    transition: .5s;
}
.reg-btn:hover{
    background-color: var(--main);
    transform: scale(.5) translateX(100,-100);
    transition: .8s;
}

.footer{
    background-color: var(--main);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Display none/block effects Starts from here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.about-section{
    display: none;
}
.opend{
    display: none;
}
.x{
    display: none;
}
.close{
    display: none;
}
.open{
    display: block;
    z-index: 1;
    position: fixed;
}
.close-icon{
    display: none;
}
.open-icon{
    transition: 0.5s;
    display: block;
    cursor: pointer;
    z-index: 1;
}

.b{
    cursor: pointer;
}
.close-btn{
    height: 48px;
    width: 48px;
    padding: 10px;
    display: block;
}
.setings-page{
    background: transparent;
    height: 749px;
    width: 100%;
    top: 80px;
    position: fixed;
    display: block;
    left: 10px;
    top: 196px;
}

.top-svg{
    position: fixed;
    width: 106%;
    height: 34%;
    top:-34px;
    z-index: -1;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}
.dropdown-menu.inactive{
    opacity: 0;
    visibility:hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Hover effects Starts from here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.side-bar-item:hover{
    background-color: #000;
    border-radius: 15px;
    cursor: pointer;
}
.items li:hover{
    color: var(--autobackground);
    transition-duration: .4s;
    border-bottom-style: groove;
    border-bottom: 3px solid;
    border-bottom-width: 1px;
}
.open_content-setings{
    display:block;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Java_Script CSS Starts from here >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.white-mode{
    background-color: var(--autobackgroundblack);
    color: rgb(0, 0, 0);
}
.setings_section-your-account{
    height: 100px;
    width: 100%;
    background-color: aqua;
}
.content-setings-section{
    height: fit-content;
    width: 100%;
}

.setings_part-1{
    height: 749px;
    width: 100%;
    position: fixed;
}
.setings_part-2{
    height: 749px;
    position: absolute;
}
.Section{
    height: 749px;
    width: 100%;
    left: 16%;
    position: fixed;
    background-color: #00ffff00;
    padding-left: 56px;
    padding-top: 54px;
}
.User-setings{
    width: fit-content;
    font-size: 24px;
    border-bottom-color: 2px var(--autofont);
}
.User-block{
    height: 365px;
    background: var(--autobackground-2);
    width: 504px;
    border-radius: 15px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.user-avatar-1{
    border-radius: 30px;
    height: 64px;
    width: 64px;
    margin-top: -20px;
}
.user-avatar{
    margin: 15px;
    display: flex;
}
.user-name{
    display: flex;
    flex-direction: column;
    height:42px;
    width: fit-content;
    padding: 16px;
    position: relative;
  padding: 16px;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color:var(--autofont);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.user-name-1{
    color: gray;
    font-size: 16px;
}
.user-email{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100px;
    padding: 16px;
    -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-weight: 300;
  font-size: 20px;
  color:var(--autofont);
}
.user-email-1{
    color: gray;
    font-size: 16px;
}
.row-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-profile-edit{
    display: flex;
    align-self: center;
}
.Edit_Profile {
    height: 40px;
    width: 110px;
    background-color: rgb(88, 88, 255);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto Mono;
    padding: 0px;
    color: var(--autofont);
    cursor: pointer;
    padding: 4px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<LOGIN PAGE CSS<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.form{
    padding-left: 30px;
    padding-right: 30px;
    height: 530px;
}
.mainbox-s{
    background-color: var(--autobackgroundblack);
    height: 600px;
    width: 500px;
    border-radius: 15px;
    color: #333;
    display: flex;
    flex-direction: row;
}
.mainbox{
    background-color: var(--autobackgroundblack);
    height: 600px;
    width: 500px;
    border-radius: 15px;
}
.up-box{
    background-color:transparent;
    height: 180px;
    width: 650px;
}
.box{
    display: flex;
}
.form-submit{
    background-color: var(--main);
    border-radius: 10px;
    color: var(--autofont);
    cursor: pointer;
}
.login{
    text-align: center;
    font-family:kanit;
    font-size: 40px;
    padding:35px;
    color:var(--autofont)
}
.username{
    height: fit-content;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-left: 100px;

}
.avatar{
    height: 36px;
    width: 36px;
    padding-right: 10px;
}
.nam{
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
}
.email{
    text-align: left;
}
.username{
    font-family: Roboto Mono;
    font-size: 18px;
    padding-right: 600px;
}
input{
    font-family: Roboto Mono;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 390px;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 43px;
}
.form-group-s{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.sep-s{
    width: 300px;
    height: 1px;
    background-color: #7a7a7a;
}
h2{
    font-family: Roboto Mono;
    font-size: 20px;
    padding-bottom: 10px;
}
.enter{
    display: flex;
    align-items: center;
}
.item-1{
    margin-top: 56px;
}
.blank{
    height: 3px;
    background-color: grey;
    margin-top: 50px;
    width: 100%;
}
.last{
    text-align: center;
    padding-top: 10px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<SIGN UP PAGE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


.mainbox{
    background-color: var(--autobackgroundblack);
    height: 600px;
    width: 520px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.up-box{
    background-color:transparent;
    height: 254px;
    width: 650px;
}
.box{
    display: flex;
    width: 1400px;
}
.imgs{
    height: 330px;
    width: 370px;
}

.signup-form{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}
.signup-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 65px;
}
.last{
    display: flex;
    align-items: center;
}
input{
width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Roboto Mono;
    box-sizing: border-box;
    outline: none;
    
}
::placeholder{
    color: var(--autofontblack);
    opacity: 100%;
}
.form-title{
    font-size: 28px;
    font-weight: 1000;
    font-family: Roboto Mono;
    padding: 10px;
    color: var(--autofont-1);
}
.form-group{
    margin-top: 20px;
    width: 350px;
}

.f-top{
    width: 98%;
    height: 2px;
    background-color: var(--autofont);
    margin-top: 10px;
}
.main-footer{
    padding-left: 40px;
    padding-right: 40px;
    height: 500px;
    width: 93.6%;
}
.footer-container{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: flex;
}
.footer-left{
    width: 50%;
    height: 100%;
    display: flex;
}
.footer-right{
    width: 100%;
    height: 100%;
    display: flex;
}
.footer-left .ul {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    
}
.footer-left .ul  li{
    padding-left: 65px;
    text-decoration: none;
    list-style-type: none;
    color: var(--autofont);
}
.footer-right .ul  li{
    padding-left: 65px;
    text-decoration: none;
    list-style-type: none;
    color: var(--autofont);
}
.footer-right{
    width: 50%;
    height: 100%;
}
.r-ul{
    display: flex;
}
.ul-1{
    height: fit-content;
}
.ul-1 .ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 .r-ul ul a li{
    font-weight: 300;
    color: var(--footer_lastfont);
 }
.f-sep{
    width: 2px;
    height: 100%;
    background-color: var(--autofont);
}
.f-logo{
    top: 320px;
    position: relative;
}
.bottom-end{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.content1{
    height: 250px;
    width: 100%;
    background-color: var(--autobackground-2);
    display: flex;
}
.title{
    font-size: 30px;
    margin-bottom: 10px;
}
.img-2{
    width: 32px;
    height: 32px;
}
info{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
infocontent{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.title-2{
    font-size: 24px;
}
.main-content1{
    width: fit-content;
    height: 100%;
    margin-right: 10px;
    padding: 10px;
}
.right-content1{
    width: 45%;
    height: 100%;

}
.icons{
    width: 500px;
    height: 100%;
    display: flex;
    margin: 26px;
    justify-content: space-between;
}
.img-3{
    width: 94px;
    height: 94px;
    cursor: pointer;
    transition: .19s;
    transform: scale(1);
}
.img-4{
    width: 94px;
    height: 94px;
    border-radius: 10px;
    cursor: pointer;
    transition: .19s;
    transform: scale(1);
}
.img-3:hover{
    width: 104px;
    height: 104px;
    transition: .19s;
    transform: scale(1);
}
.img-4:hover{
    width: 104px;
    height: 104px;
    border-radius: 10px;
    transition: .19s;
    transform: scale(1);
}
.da{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}